<div>
    <a href="#/" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i> Back</a>
</div>

<div class="row">
    <h2 class="text text-center text-uppercase alert alert-info">{{ vm.tripName }}</h2>
    <div class="col-md-4">


        <ul class="stops">
            <li ng-repeat="stop in vm.stops">

                <div class="arrival">
                    <div class="month">{{ stop.arrival | date:'MMM' }}</div>
                    <div class="day">{{ stop.arrival | date:'d' }}</div>
                    <div class="year">{{ stop.arrival | date:'yyyy' }}</div>
                </div>
                <div class="location"><a ng-click="centerStop(stop)">{{ stop.location }}</a></div>

                <div class="delete-btn">
                    <a ng-click="deleteStop(stop)" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </li>
        </ul>

    </div>
    <div class="col-md-8">
        <div id="map">

        </div>
    </div>


</div>

<h2>Create a New Stop</h2>

<div class="row" id="newStopDiv">
    <div>
        <div class="alert alert-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
        <div class="success text-success" ng-show="vm.successMessage">{{ vm.successMessage }}</div>

        <form novalidate name="newStopForm" ng-submit="vm.getCoord()">
            <div class="row">



                <div class="form-group col-md-4">
                    <label for="arrival">Date</label>
                    <input class="form-control" id="arrival" name="arrival" ng-model="vm.newStop.arrival"
                           autofocus="autofocus"
                           required
                           ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/" />
                    <span class="text-danger" ng-show="newStopForm.arrival.$error.required">Required</span>
                    <span class="text-danger" ng-show="newStopForm.arrival.$error.pattern">Must be in the format of MM/DD/YYYY</span>

                </div>
                <div class="form-group col-md-4">
                    <label for="location">Location</label>
                    <input class="form-control" id="location" name="location" ng-model="vm.newStop.location" required ng-minlength="3" />
                    <span class="text-danger" ng-show="newStopForm.location.$error.required">Required</span>
                    <span class="text-danger" ng-show="newStopForm.location.$error.minlength">Must be at least 3 characters</span>
                </div>
                <div class="col-md-4">
                    <br />
                    <input type="submit" value="Add New Stop" class="btn btn-success btn-group-justified" ng-disabled="newStopForm.$invalid" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div id="comments">
            <table class="table table-responsive table-striped table-bordered">

                <tr ng-repeat-start="comment in vm.comments">

                    <th>
                        <img src="{{ comment.userProfileImg }}" alt="profile image" class="profileImgCommentsMin" />
                        <span class="text-primary">{{ comment.username }}</span> - <span class="text-muted text">{{ comment.created | date }}</span>

                    </th>
                    <td rowspan="2" class="cellCenter"><a ng-click="vm.deleteComment(comment)" class="btn btn-danger">Delete</a></td>

                </tr>

                <tr ng-repeat-end>
                    <td>{{ comment.body }}</td>
                </tr>


            </table>


        </div>

    </div>
</div>
